# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

#recent files
recentf*

#session files
session.*

#elpa packages folder
/elpa/*

#private files like security, session data etc.
.emacs_old
.last-package-update-day
network-security.data
projectile-bookmarks.eld
/games/
.emacs.desktop

#ignore eshell
/eshell/
