# Compiled
*.elc

# Packaging
.cask

# Backup files
*~

# Undo-tree save-files
*.~undo-tree

#recent files
recentf*

#session files
session.*

#elpa packages folder
/elpa/*

#quelpa packages folder
/quelpa/*

#anaconda folder
/anaconda-mode/*

#python-environments
/.python-environments/*

#private files like security, session data etc.
.emacs_old
.last-package-update-day
network-security.data
projectile-bookmarks.eld
/games/
.emacs.desktop
.emacs.desktop.lock
ac-comphist.dat
tramp

#ignore eshell
/eshell/

#ignore straight folder
straight/

#ignore the private folder
/private/
/.custom.el
/.dir-locals.el
/request/curl-cookie-jar
/magithub/cache
/helm-adaptive-history
/.cache/treemacs-persist
/elisp/.emacs.desktop
/projectile.cache
/company-statistics-cache.el
*.org
.mc-lists.el
/lisp/
elisp/flycheck_*.el
/.lsp-session-v1
/.cache/treemacs-persist-at-last-error
